/* 1st slide */
h1 {
  font-family: "Montserrat";
  font-size: 3.5rem;
  line-height: 1.5;
  margin-left: 2rem;
}

.Custom-nav {
  background-color:  #659DAE;
  margin-top: 0rem;
}
.cwatch {
  background-color:  #659DAE;
  color: #fff;
  height: 100vh;
}

.logo-image {
  margin-left: 5rem;
}

.download-button {
  margin: 5rem 0rem 0rem 5rem;
}

.imgwatch {
  /* height: 100vh;
  width: 100vh; */
  margin: 0;

}

.rt {
  margin: 0;
}
/* 2nd slide */

.pro {
  text-align: center;
  font-family: "Montserrat";
  font-size: 3.5rem;
  line-height: 1.5;
  margin-left: 2rem;
}

.feature-box {
  text-align: center;
  padding: 5%;
}

.icon {
  color: #a0c1b8;
  margin-bottom: 1rem;
}
.icon:hover {
  color: #659DAE;
}

.pw-image {
  margin-top: 5rem;
}

/* contact and details */

.contact {
  height: 45vh;
  width: 100%;
}
